{
  "env": {
    "jest": true,
    "node": true,
    "es2021": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "fragment": "Fragment",
      "createClass": "createReactClass"
    }
  },
  "rules": {
    "dot-notation": "warn",
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-var": "error",
    "eqeqeq": "error",
    "no-eval": "error",
    "camelcase": "error",
    "no-eq-null": "error",
    "prefer-const": "error",
    "guard-for-in": "error",
    "no-script-url": "error",
    "no-undef-init": "error",
    "require-await": "error",
    "no-lone-blocks": "error",
    "no-implied-eval": "error",
    "no-multi-spaces": "error",
    "no-self-compare": "error",
    "curly": ["error", "multi"],
    "default-case-last": "error",
    "no-useless-return": "error",
    "default-param-last": "error",
    "no-trailing-spaces": "error",
    "no-implicit-globals": "error",
    "no-floating-decimal": "error",
    "no-duplicate-imports": "error",
    "prefer-arrow-callback": "error",
    "require-atomic-updates": "error",
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "no-unsafe-optional-chaining": "error",
    "no-template-curly-in-string": "error",
    "no-unmodified-loop-condition": "error",
    "arrow-body-style": ["error", "as-needed"],
    "no-empty-function": ["error", { "allow": ["constructors"] }],
    "func-style": ["error", "expression", { "allowArrowFunctions": true }],
    "react/prop-types": "off"
  },
  "plugins": ["jest", "jest-dom", "graphql"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:jest-dom/recommended"
  ]
}
